@use 'variables';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  outline: none;
  //cursor: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  //font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  position: relative;
  z-index: auto;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}


