@tailwind base;
@tailwind components;
@tailwind utilities;

/*@custom-variant dark (&:where(.dark, .dark *));*/
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer components {
}

@layer base {
    :root {
    }

    .contain {
        @apply max-w-[1180px] w-full mx-auto px-4 sm:px-6 lg:px-8;
    }
}

@layer utilities {
    .bg-primary {
        @apply bg-sky-500 dark:bg-sky-400;
    }

    .text-primary {
        @apply text-sky-500 dark:text-sky-400;
    }

    .text-primary-hover:hover {
        @apply text-sky-700 dark:text-sky-300;
    }

    .border-primary {
        @apply border-sky-500 dark:border-sky-400;
    }

    .stroke-primary {
        @apply stroke-sky-500 dark:stroke-sky-400;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin-block: 100px;
}

::-webkit-scrollbar-track {
    @apply bg-white dark:bg-black;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary dark:bg-primary;
}

/* Typography */
.h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl font-semibold leading-tight tracking-[-0.045em];
}

.h2 {
    @apply text-[1.75rem] sm:text-3xl lg:text-4xl font-semibold leading-tight tracking-[-0.035em];
}

.h3 {
    @apply text-xl sm:text-2xl lg:text-[1.75rem] font-semibold leading-snug tracking-[-0.02em];
}

.h4 {
    @apply text-lg sm:text-xl lg:text-2xl font-medium leading-snug tracking-[-0.02em];
}

.h5 {
    @apply text-base sm:text-lg lg:text-xl font-medium leading-snug tracking-[-0.01em];
}

.h6 {
    @apply text-base sm:text-base lg:text-lg font-medium leading-snug tracking-normal;
}

p, .p {
    @apply text-base sm:text-[1.05rem] tracking-normal leading-8;
}

.del {
    @apply text-[15px] sm:text-base tracking-normal leading-7 line-through;
}

.small {
    @apply text-[15px] tracking-normal leading-7;
}

.strong {
    @apply text-base sm:text-[1.05rem] tracking-normal leading-8 font-semibold;
}

a, .a {
    text-decoration: none !important;
    outline: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

a:active,
.a:active {
    @apply text-primary dark:text-primary;
}

@media (hover: hover) and (pointer: fine) {
    a:hover,
    .a:hover {
        @apply text-primary dark:text-primary;
    }
}


.btn {
    @apply px-4 py-3 sm:px-5 sm:py-3 rounded-lg text-sm sm:text-base font-medium
        /*focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2*/
    transition duration-300 ease-in-out;
}

