@tailwind base;
@tailwind components;
@tailwind utilities;

/*@custom-variant dark (&:where(.dark, .dark *));*/
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer components {
    /*.card {*/
    /*  @apply bg-skin-base-100 rounded-lg shadow-lg;*/
    /*}*/
}


@layer base {
    :root {
        /*--color-body: #ffffff;*/

        /*--color-text-link: #000000;*/
        /*--color-text-link-hover: dodgerblue;*/
        /*--color-text-base: #000000;*/
        /*--color-text-inverted: #ffffff;*/

        /*--color-muted: #525252;*/
        /*--base-100: dodgerblue;*/
        /*--base-200: dodgerblue;*/
        /*--base-300: dodgerblue;*/

        /*--color-primary: dodgerblue;*/
        /*--color-secondary: #1f679b;*/
        /*--color-accent: #faf6d0;*/
        /*--color-neutral: #1a1a1a;*/
        /*--color-info: #38bdf8;*/
        /*--color-success: #16a34a;*/
        /*--color-warning: #facc15;*/
        /*--color-error: #dc2626;*/
    }

    /*body, html, #app {*/
    /*@apply bg-skin-body text-skin-base;*/
    /*}*/
    .contain {
        @apply max-w-[1366px] w-full mx-auto px-4 sm:px-6 lg:px-8;
    }
}

html {
    -webkit-tap-highlight-color: transparent;
}

img {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;

    shape-margin: 1rem;

    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.importClassesFromTailwind {
    @apply pr-10 !pr-10;
}


/* Typography */
.h1 {
    @apply text-4xl sm:text-5xl xl:text-6xl font-extrabold tracking-tight;
}

.h2 {
    @apply text-3xl sm:text-4xl font-bold tracking-tight;
}

.h3 {
    @apply text-2xl sm:text-3xl font-semibold tracking-tight;
}

.h4 {
    @apply text-xl sm:text-2xl font-medium tracking-tight;
}

.h5 {
    @apply text-lg sm:text-xl font-medium tracking-tight;
}

.h6 {
    @apply text-base sm:text-lg font-medium tracking-tight;
}

p, .p {
    @apply text-base tracking-tight leading-7;
}

.del {
    @apply text-base tracking-tight leading-7 line-through;
}

.small {
    @apply text-sm tracking-tight leading-7;
}

.strong {
    @apply text-base tracking-tight leading-7 font-semibold;
}

a, .a {
    text-decoration: none !important;
    outline: none;
    @include variables.transition(200ms);
}

a:active,
a:focus,
.a:active,
.a:focus {
    color: oklch(67.3% 0.182 276.935) !important;
}

@media (hover: hover) and (pointer: fine) {
    a:hover,
    .a:hover {
        color: oklch(67.3% 0.182 276.935) !important;
    }
}


.btn {
    @apply px-5 py-3 rounded-lg font-medium
        /*focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2*/
    transition duration-300 ease-in-out;
}








